@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

@font-face {
    font-family: stempel;
    src: url(../fonts/Alexandras\ Stempelkasten.TTF);
}


/* GENERAL STYLES ===================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* MAIN STYLES ===================================================== */
main {
    margin: 1vh 25vw;
    border-radius: 20px;
    background-color: rgb(255, 242, 0);
    border: 2px solid orange;
    text-align: center;
    padding-bottom: 3vh;
}

main h1 {
    text-align: center;
    font-family: stempel;
    font-size: 8rem;
    padding-top: 3vh;
}

main h1 span:nth-of-type(1) {
    color: green;
}

main h1 span:nth-of-type(2) {
    color: blue;
}

main h1 span:nth-of-type(3) {
    color: orange;
}

main p {
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    text-align: center;
    padding: 0 6vw 2vh 6vw;
}

/* FORM -------------------------------------------------- */

main form {
    text-align: center;
}

.rounds,
.spielzug {
    border-radius: 5px;
    margin: 0 8vw;
    margin-bottom: 2vh;
    background-color: white;
    padding-top: 2vh;
}

.rounds h2,
.spielzug h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
}

.rounds h2 {
    color: red;
}

.spielzug h2 {
    color: blue;
}

.rounds article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh;
    width: 25vw;
    margin: 0 auto;
    padding: 2vh 0;
}

.rounds article div input,
.rounds article div label {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}

.rounds article div input {
    -webkit-appearance: none;
    border: 2px solid black;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.rounds article div input:checked {
    background-color: red;
    border: none;
    box-shadow: 0 0 10px red;
}

.rounds article div label {
    padding-left: 10px;
    display: inline;
    vertical-align: top;
}

.spielzug article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh;
    width: 25vw;
    margin: 0 auto;
    padding: 2vh 0;
}

.spielzug article div {
    position: relative;
}

.spielzug article div label {
    font-size: 5rem;
    position: absolute;
    top: 2px;
    left: 35px;
}

.spielzug article div input {
    position: absolute;
    top: 0;
    left: 30px;
    -webkit-appearance: none;
    height: 60px;
    width: 60px;
    border: 2px solid black;
    border-radius: 50%;
}

.spielzug article div input:hover {
    cursor: pointer;
}


#schere:checked {
    border: 4px solid blue;
    box-shadow: 0 0 10px blue;
}

#stein:checked {
    border: 4px solid blue;
    box-shadow: 0 0 10px blue;
}

#papier:checked {
    border: 4px solid blue;
    box-shadow: 0 0 10px blue;
}

.play,
.restart {
    background-color: white;
    /* border: 2px solid black; */
    font-family: 'Patrick Hand', cursive;
    padding: 0.5vh 0.5vw;
    border-radius: 10px;
    color: orange;
    border: none;
}

.play:hover,
.restart:hover {
    background-color: orange;
    color: white;
    cursor: pointer;
}

.play {
    font-size: 2rem;
}

/* SPIELSTAND ------------------------------------------------ */

.spielstand {
    width: 25vw;
    margin: 2vh auto;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    border-radius: 20px;
}

.spielstand div h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
    color: white;
}

.spielstand div p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 7rem;
    height: 71px;
}

.restart {
    font-size: 2rem;
    text-align: center;
}

/* POP-UP SPIELERGEBNIS ---------------------------------------- */

#result {
    position: fixed;
    top: 55vh;
    left: 35vw;
    width: 30vw;
    padding: 2vh 2vw;
    border-radius: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 2rem;
    display: none;
}

#result p {
    font-family: 'Patrick Hand', cursive;
    font-size: 3rem;
    color: white;
    text-align: center;
}

#result p:nth-of-type(1) {
    text-align: right;
    color: white;
}

#result p:nth-of-type(1):hover {
    cursor: pointer;
}

/* SPIELZÜGE SICHTBAR AN RECHTEM UND LINKEM BILDRAND ------------------------- */

#spieler,
#computer {
    position: fixed;
    top: 30vh;
}

#spieler {
    left: 0;
}

#computer {
    right: 0;
}

#spieler img,
#computer img {
    width: 25vw;
    object-fit: cover;
}

/* RUNDENZÄHLER -------------------------------------------------------------- */

#rundenzaehler {
    position: fixed;
    top: 20px;
    right: 40px;
    font-family: sans-serif;
    color: green;
    font-size: 10rem;
}