@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');

@font-face {
    font-family: stempel;
    src: url(../fonts/Alexandras\ Stempelkasten.TTF);
}


/* GENERAL STYLES ===================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 5vh;
}

/* MAIN STYLES ===================================================== */

h1 {
    text-align: center;
    font-family: stempel;
    font-size: 10rem;
}

h1 span:nth-of-type(1) {
    color: green;
}

h1 span:nth-of-type(2) {
    color: blue;
}

h1 span:nth-of-type(3) {
    color: orange;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 3vh;
}

/* FORM -------------------------------------------------- */

form {
    text-align: center;
}

.rounds h2,
.spielzug h2 {
    font-family: 'Patrick Hand', cursive;
    font-size: 3rem;
}

.rounds article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vh;
    width: 25vw;
    margin: 0 auto;
    padding: 2vh 0;
}

.rounds article div input,
.rounds article div label {
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
}

.rounds article div input {
    -webkit-appearance: none;
    border: 2px solid black;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.rounds article div input:checked {
    background-color: rgba(128, 128, 128, 0.5);
}

.rounds article div label {
    padding-left: 10px;
}

.spielzug article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh;
    width: 25vw;
    margin: 0 auto;
    padding: 2vh 0;
}

.spielzug article div {
    position: relative;
}

.spielzug article div label {
    font-size: 5rem;
    position: absolute;
    top: 2px;
    left: 35px;
}

.spielzug article div input {
    position: absolute;
    top: 0;
    left: 30px;
    -webkit-appearance: none;
    height: 60px;
    width: 60px;
    border: 2px solid black;
    border-radius: 50%;
}

.spielzug article div input:hover {
    cursor: pointer;
}


#schere:checked {
    background-color: rgba(128, 128, 128, 0.5);
}

#stein:checked {
    background-color: rgba(128, 128, 128, 0.5);
}

#papier:checked {
    background-color: rgba(128, 128, 128, 0.5);
}

.play,
.restart {
    background-color: rgba(128, 128, 128, 0.5);
    border: 2px solid black;
    font-family: 'Patrick Hand', cursive;
    font-size: 2.5rem;
    padding: 0.5vh 0.5vw;
    border-radius: 10px;
}

/* SPIELSTAND ------------------------------------------------ */

.spielstand {
    width: 25vw;
    margin: 2vh auto;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    border-radius: 20px;
}

.spielstand div h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 3rem;
    color: white;
}

.spielstand div p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 9rem;
    height: 91px;
}

.restart {
    margin: 0 45vw 0 45vw;
    font-size: 2rem;
}

/* POP-UP SPIELERGEBNIS ---------------------------------------- */

#result {
    position: fixed;
    background-color: white;
    border: 2px solid black;
    top: 40vh;
    left: 25vw;
    width: 50vw;
    padding: 1vh 5vw 5vh 5vw;
    border-radius: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 5rem;
    display: none;
}

#result p {
    font-family: 'Patrick Hand', cursive;
    font-size: 5rem;
}

#result p:nth-of-type(1) {
    text-align: right;
}

#result p:nth-of-type(1):hover {
    cursor: pointer;
}

/* SPIELZÜGE SICHTBAR AN RECHTEM UND LINKEM BILDRAND ------------------------- */

#spieler,
#computer {
    position: fixed;
    top: 30vh;
}

#spieler {
    left: 0;
}

#computer {
    right: 0;
}

#spieler img,
#computer img {
    width: 30vw;
    object-fit: cover;
}

/* RUNDENZÄHLER -------------------------------------------------------------- */

#rundenzaehler {
    position: fixed;
    top: 40px;
    right: 40px;
    font-family: sans-serif;
    color: green;
    font-size: 10rem;
}